<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swisspostapi>
            <connection>
                <jsonrpc>2.0</jsonrpc>
            </connection>
            <logging>
                <enable>1</enable>
            </logging>
        </swisspostapi>
    </default>
</config>
