<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="model_delete_after">
        <observer name="epoint_model_delete_after" instance="Epoint\SwisspostApi\Observer\AfterModelDeleteObserver"/>
    </event>
</config>
